* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("unsplash.jpg") no-repeat center center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vw + 60px);
  z-index: -1;
  filter: blur(0);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
